footer {
    height: auto;
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
    padding: 40px 0;
}

footer span{
    transition: .3s ease-in-out;
    cursor: pointer;
}

footer span:hover {
    color: var(--color-pink);
}

footer p:nth-child(1){
    margin-bottom: 5px;
}

