@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --color-black: #1f2122;
  --color-white: #ffffff;
  --color-gray: #27292a;
  --color-lightgray: #5c615a;
  --color-pink: #e75e8d;
}

*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav a.active{
  color: var(--color-pink);
}

@layer components {
  .pink-btn {
    background-color: var(--color-pink);
    padding: 10px 25px;
    border-radius: 24px;
    transition: .3s ease-in-out;
  }

  .pink-btn:hover{
    background-color: var(--color-white);
    color: var(--color-pink);
  }

  .wrapper{
    display: flex;
    overflow-x: auto;
  }

  .wrapper::-webkit-scrollbar{
    /* width: 0; */
    display: none;
  }

  .wrapper .items{
    min-width: 205px;
    margin-right: 25px;
    color: white;
    background-color: var(--color-black);
  }
}